html body {
    background-color: #2f3640  !important;
    font-family: "Roboto", "Open Sans", "Arial", "Helvetica", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
}

.content {
  background-color: white;
  padding-bottom: 50px;
}

.header {
    background-color: #2f3640;
    color: white;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 300;
    padding: 15px 0px;
}
.header a {
  color:white;
  font-size: 35px;
}

.wrapper {
  padding-top: 10px;
}
