// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 1rem;
  background-color: $header-bg;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: $header-title-color;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
