<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/modest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <h3>
        {{ site.title }}
    </h3>
    <div align="center">
        <a href="https://github.com/droidkid/" class="icons-default"><i class="fa-brands fa-xl fa-github"></i></a>
        <a href="https://www.linkedin.com/in/yuvaraj-chesetti-05872a113/" class="icons-default"><i class="fa-brands fa-xl fa-linkedin"></i></a>
        <a href="https://twitter.com/yuvarajchesetti" class="icons-default"><i class="fa-brands fa-xl fa-twitter"></i></a>
    </div>
    <nav align="center">
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
    </footer>
  </body>
</html>

